# JQP Zsh / Oh-My-Zsh instant deploy for PI.

# No gitconfig
/.gitconfig

# No SSH
/.ssh/
/**/.ssh/
# Except config from home dirs .ssh config
!/.ssh/config
!/configskel/.ssh/config
**/.gnupg*

# No personal
**/jqp*
**/.jqp*

# No regular dirs under home
/*/
# except quick setup skel
!/configskel

# This repo should have a .skel dir w/ the scripts etc to get oh-my-zsh configs, exclude it from the repo
/.oh-my*

# No session history
**/*history
**/*hsts
**/*hst

# No venvs
**/.venv

# mostly for sudo successful
**/*successful
**/*logout

# no home extraneous
/.backup*
/zsh_*
/.antigen*
/.cache*
/.config*
/.fzf*
/*.txt
/.zcomp*
/*.gz
/*.tar
/*.xz
/*.zip
/*.pdf
